.panel{

	position : absolute;
	top  : 130px;
	left : 550px;  
}

div.b_c > *:hover{
	opacity: 0.7;
}



div.b_c > * {

	position : absolute;
	border : none;
	outline : none; 
	width: 78px;
	height: 78px;
	border-radius: 78px; 
	opacity : 0; 
}

#ans_panel{
	
	text-align: center; 
	font-family: 'Arial Narrow';
	font-size : 40px; 
}

.but1{
	top : 135px;
	left: 555.5px;
}

.but2{
	top : 135px;
	left : 652px;
}

.but3{
	top : 134px;
	left : 751.5px; 
}

.but4 {
	top : 133.5px;
	left : 849px; 

}

.but5{
	top : 228.5px;
	left : 557px; 
}

.but6{
	top : 228.5px;
	left : 653.5px; 
}

.but7{
	top : 228.5px;
	left : 752px; 
}

.but8{
	top : 226.5px;
	left : 849.5px; 
}

.but9{
	top : 323px;
	left : 558px; 
}

.but10{
	top : 323px;
	left : 653.5px; 
}

.but11{
	top : 323px;
	left : 752px; 
}

.but12{
	top : 320.5px;
	left : 849px; 
}

.but13{
	top : 417.5px;
	left : 558px; 
}

.but14{
	top : 417.5px;
	left : 656px; 
}

.but15{
	top : 415.5px;
	left : 751.5px;
}

.but16{
	top : 416.5px;
	left : 848.5px;
}

.but17{
	top : 510px;
	left : 558px;
}

.but18{
	top : 510.5px;
	left : 656px;
}

.but19{
	top : 510px;
	left : 753px;
}	

.but20{
	top : 510px;
	left : 848px;
}






